.main-row {

}

.projectImg {
    width: 75%;
    margin: 13%;
    border-radius:1.25rem;
}

.page-header {
    margin-left: 20px;
}

.topContainer {
}

.viewOptions {
    color: grey;
    border-color: grey;
}


.descRow {
    margin-left: 10%;
    margin-right: 10%;
}

.descTitle {
    text-align: center;
    margin-top: 30%;
}

.descP {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 10%;
    font-size: 20px;
}

h3 {
    font-size: 22px;
    text-align: center;
}