.main-row {

}

.projectImg {
    width: 75%;
    margin: 13%;
    border-radius:1.25rem;
}

.page-header {
    margin-left: 20px;
}

.topContainer {
    width: 100%;
    padding: 0px;
}

.imgCol {
    padding: 0px;
}

.pictureRow, .nameRow {
    width: 100%;
}

.viewOptions {
    color: grey;
    border-color: grey;
}


.descRow {
    margin-left: 20%;
    margin-right: 20%;
}

.descTitle {
    text-align: center;
    margin-top: 30%;
}

.descP {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 2%;
    font-size: 20px;
}

h3 {
    font-size: 18px;
    text-align: center;
}